#weather {
    color: white;
}
.w3-bar {
    height: 50px;
}
.navButton {
    margin-top: 5px;
}
.title h1 {
    margin-bottom: 0;
}
.weatherIcon {
    height:35px;
    padding: 0%;
}
.Body h1 {
    background-color: #d8dfea;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.newsCard {
    width: 300px;
    padding: 5px;
    margin: 10px;
} 

.topNews {
    display: inline;
}
.newsCard {
    height: 300px;
    overflow: hidden;
    padding: 10px;
    background-color: #d8dfea;
}
.newsTitle {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.newsAbstract {
    font-size: 10px;  
}

.textArea {
    color:white;
    height:30px;
    margin-bottom: 10px;
    margin-right:0;
    background-color: #d8dfea;
    padding: 5px;
    border: solid #afbdd4;

}

.saveBtn {
    background-color: darkslategray;
    color: white;
    height:30px;
    margin-bottom:10px;

}
.container {
    width:  70%;
    margin-left: auto;
}

